{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }} {% endblock %}

{% block content %}
    <section id="login-section">
        <img src="{{ asset('images/registration.webp') }}" alt="image de végétation">

        <div class="login register">
            <h1>Inscription</h1>
            <p>Tous les champs sont obligatoires.</p>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.lastName) }}
                {{ form_row(registrationForm.firstName) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password.first) }}
                {{ form_row(registrationForm.password.second) }}
                {{ form_row(registrationForm.agreeTerms, {
                    'attr': {'class': 'cgu'}, 
                    'row_attr': {'class': 'cgu-container'}
                    }) }}

                <button type="submit" class="btn">S'inscrire</button>
                <a href="{{ path('app_homepage') }}" class="link-login">Déjà un compte ? Se connecter</a>
            {{ form_end(registrationForm) }}
        </div>
    </section>
{% endblock %}