<header>
    <nav>
        <a href="{{ path('app_homepage') }}" id="logo">
            <img src="{{ asset('images/Logo_2x.webp') }}" alt="Greengoodies">
        </a>
        <ul id="menu">
            <li><a href="{{ path('app_homepage') }}">Nos produits</a></li>
            <li><a href="{{ path('app_homepage') }}">Mon panier</a></li>
            <li><a href="{{ path('app_login') }}">Mon compte</a></li>
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        </ul>
    </nav>
</header>